.container {
    display: grid;
height: 100vh;    
    justify-content: center;
    align-content: center;
}

.wrapper {
    display: grid;
    padding: 3em;
    justify-items: center;
    align-items: center;
}

button {
    padding: 1em;
}

p {
    font-size:30px;
}

